.hack {
  font-family: "Hack", monospace;
  font-synthesis: style weight;
}

@font-face {
  font-family: "Hack";
  src: url("hack/hack.400.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hack";
  src: url("hack/hack.400i.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hack";
  src: url("hack/hack.700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hack";
  src: url("hack/hack.700.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
